<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gc-gestiondeclientes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gc-gestiondeclientes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GC-gestiondeclientes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GC-gestiondeclientes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Modulo_GestionC.Models.ApplicationDbContext, Modulo_GestionC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContextoModuloG" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Modulo_GestionC.Models.ContextoModuloG, Modulo_GestionC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContextoModulo" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\FLAVIA\SOURCE\REPOS\MODULO_GESTIONC\MODULO_GESTIONC\APP_DATA\MODULOGESTION.MDF;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContextoModulo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Modelo.csdl|res://*/Models.Modelo.ssdl|res://*/Models.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=C:\USERS\FLAVIA\SOURCE\REPOS\MODULO_GESTIONC\MODULO_GESTIONC\APP_DATA\MODULOGESTION.MDF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContextoModulo-Web.config Connection String" />
    <MSDeployParameterValue Include="ContextoModuloG-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Modelo.csdl|res://*/Models.Modelo.ssdl|res://*/Models.Modelo.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:servidor-paginaswebs.database.windows.net,1433;Initial Catalog=GC21;Persist Security Info=False;User ID=flavia;Password=2707Emma;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>